In [2]:
import pandas as pd
import numpy as np

In [4]:
disposableincome_path = 'data/disposableincome.csv'
divorces_path = 'data/divorces.csv' 
grossregionalproduct_path = 'data/grossregionalproduct.csv'
highereducation_path = 'data/highereducation.csv'
kindergarten_path = 'data/kindergarten.csv'
marriages_path = 'data/marriages.csv'

In [6]:
disposableincome_df = pd.read_csv(disposableincome_path, skiprows=3, skipfooter=1, engine='python')
divorces_df = pd.read_csv(divorces_path, skiprows=3, skipfooter=1, engine='python')
grossregionalproduct_df = pd.read_csv(grossregionalproduct_path, skiprows=3, skipfooter=1, engine='python')
highereducation_df = pd.read_csv(highereducation_path, skiprows=3, skipfooter=1, engine='python')
kindergarten_df = pd.read_csv(kindergarten_path, skiprows=3, skipfooter=1, engine='python')
marriages_df = pd.read_csv(marriages_path, skiprows=3, skipfooter=1, engine='python')

In [22]:
marriages_df.dropna(axis=1, how='all', inplace=True)
divorces_df.dropna(axis=1, how='all', inplace=True)
disposableincome_df.dropna(axis=1, how='all', inplace=True)
grossregionalproduct_df.dropna(axis=1, how='all', inplace=True)
highereducation_df.dropna(axis=1, how='all', inplace=True)
kindergarten_df.dropna(axis=1, how='all', inplace=True)

In [17]:
marriages_df.head()

,Region,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001
0,Beijing,12.90,13.78,15.15,16.62,16.60,17.00,16.37,17.41,17.32,13.8,18.18,14.75,11.79,17.1,9.7,12.64,9.4,7.6,7.94
1,Tianjin,9.64,9.75,9.51,9.82,10.12,9.94,10.26,10.14,10.41,8.7,10.40,8.93,7.57,8.4,6.4,7.70,6.3,5.4,5.79
2,Hebei,42.13,45.87,50.49,55.19,60.94,66.13,74.08,74.53,77.72,75.0,72.00,66.31,60.39,55.5,53.8,57.48,52.4,47.1,44.56
3,Shanxi,25.50,27.85,28.77,30.01,34.68,35.07,38.40,36.28,33.96,36.1,34.36,28.74,23.85,20.2,19.0,16.15,14.5,15.4,14.62
4,Inner Mongolia,16.18,17.69,18.70,19.84,21.79,21.68,22.16,20.77,21.53,20.3,18.84,18.78,18.57,16.3,15.5,14.77,13.1,13.1,14.76

In [18]:
divorces_df.head()

,Region,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001
0,Beijing,8.38,7.41,8.06,10.58,8.22,6.56,6.46,4.86,4.35,4.4,4.13,3.76,3.66,3.6,3.4,3.3,3.1,2.8,2.77
1,Tianjin,7.47,6.41,5.89,6.52,5.19,4.45,4.53,3.63,3.21,3.0,2.76,2.40,2.21,2.1,1.9,1.8,1.4,1.2,1.31
2,Hebei,25.57,23.45,23.24,22.02,19.90,18.57,17.88,17.12,15.63,14.5,12.67,11.22,9.88,9.2,8.3,7.7,5.8,5.3,5.16
3,Shanxi,9.12,8.75,8.22,7.65,7.22,6.56,6.10,5.28,4.75,4.3,3.89,3.28,3.24,3.0,2.9,2.7,2.3,2.3,2.29
4,Inner Mongolia,9.98,9.88,10.09,9.84,9.19,8.84,8.07,7.06,6.67,5.7,5.20,5.02,4.73,4.1,3.9,3.7,3.0,2.5,3.31

In [19]:
disposableincome_df.head()

           Region   2020   2019   2018   2017   2016   2015   2014   2013
0         Beijing  69434  67756  62361  57230  52530  48458  44489  40830
1         Tianjin  43854  42404  39506  37022  34074  31291  28832  26359
2           Hebei  27136  25665  23446  21484  19725  18118  16647  15190
3          Shanxi  25214  23828  21990  20420  19049  17854  16538  15120
4  Inner Mongolia  31497  30555  28376  26212  24127  22310  20559  18693

In [20]:
grossregionalproduct_df.head()

,Region,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011
0,Beijing,36102.6,35445.1,33106.0,29883.0,27041.2,24779.1,22926.0,21134.6,19024.7,17188.8
1,Tianjin,14083.7,14055.5,13362.9,12450.6,11477.2,10879.5,10640.6,9945.4,9043.0,8112.5
2,Hebei,36206.9,34978.6,32494.6,30640.8,28474.1,26398.4,25208.9,24259.6,23077.5,21384.7
3,Shanxi,17651.9,16961.6,15958.1,14484.3,11946.4,11836.4,12094.7,11987.2,11683.1,10894.4
4,Inner Mongolia,17359.8,17212.5,16140.8,14898.1,13789.3,12949.0,12158.2,11392.4,10470.1,9458.1

In [23]:
grossregionalproduct_df.head()

,Region,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011
0,Beijing,36102.6,35445.1,33106.0,29883.0,27041.2,24779.1,22926.0,21134.6,19024.7,17188.8
1,Tianjin,14083.7,14055.5,13362.9,12450.6,11477.2,10879.5,10640.6,9945.4,9043.0,8112.5
2,Hebei,36206.9,34978.6,32494.6,30640.8,28474.1,26398.4,25208.9,24259.6,23077.5,21384.7
3,Shanxi,17651.9,16961.6,15958.1,14484.3,11946.4,11836.4,12094.7,11987.2,11683.1,10894.4
4,Inner Mongolia,17359.8,17212.5,16140.8,14898.1,13789.3,12949.0,12158.2,11392.4,10470.1,9458.1

In [24]:
highereducation_df.head()

,Region,2019,2018,2017,2016,2015,2014,2013,2012,2011
0,Beijing,5320.0,5268.0,5300.0,5028.0,5218.0,5429.0,5469.0,5534.0,5613.0
1,Tianjin,4214.0,4150.0,4072.0,4058.0,4185.0,4283.0,4346.0,4358.0,4329.0
2,Hebei,2596.0,2457.0,2328.0,2191.0,2141.0,2098.0,2108.0,2063.0,2006.0
3,Shanxi,2515.0,2383.0,2401.0,2439.0,2504.0,2519.0,2474.0,2351.0,2202.0
4,Inner Mongolia,2053.0,1984.0,1969.0,1937.0,2035.0,2156.0,2137.0,2042.0,1920.0

In [25]:
kindergarten_df.head()

           Region  2019  2018  2017  2016  2015  2014  2013  2012  2011
0         Beijing  2171  2076  2050  1921  1831  1726  1685  1643  1587
1         Tianjin  1768  1689  1674  1724  1665  1629  1651  1687  1740
2           Hebei  3164  3194  3179  3153  3138  2957  2922  2710  2550
3          Shanxi  2681  2668  2791  2705  2694  2667  2635  2546  2296
4  Inner Mongolia  2395  2439  2540  2419  2369  2238  2070  1983  1813

In [39]:
marriages_df[income_marriage_cols].head()

    2014   2019   2016   2018   2017   2013          Region   2015
0  17.00  12.90  16.62  13.78  15.15  16.37         Beijing  16.60
1   9.94   9.64   9.82   9.75   9.51  10.26         Tianjin  10.12
2  66.13  42.13  55.19  45.87  50.49  74.08           Hebei  60.94
3  35.07  25.50  30.01  27.85  28.77  38.40          Shanxi  34.68
4  21.68  16.18  19.84  17.69  18.70  22.16  Inner Mongolia  21.79

In [44]:
#Get overlapping columns/years between two datasets
income_marriage_cols = [x for x in marriages_df.columns if x in disposableincome_df.columns]
income_marriage_cols

['Region', '2019', '2018', '2017', '2016', '2015', '2014', '2013']

In [43]:
#Merge data from two datasets on overlapping columns/years only
income_marriage = marriages_df[income_marriage_cols].merge(disposableincome_df[income_marriage_cols], 
                                                           on='Region', suffixes=('_marriage', '_income'))
income_marriage.head()

,Region,2019_marriage,2018_marriage,2017_marriage,2016_marriage,2015_marriage,2014_marriage,2013_marriage,2019_income,2018_income,2017_income,2016_income,2015_income,2014_income,2013_income
0,Beijing,12.90,13.78,15.15,16.62,16.60,17.00,16.37,67756,62361,57230,52530,48458,44489,40830
1,Tianjin,9.64,9.75,9.51,9.82,10.12,9.94,10.26,42404,39506,37022,34074,31291,28832,26359
2,Hebei,42.13,45.87,50.49,55.19,60.94,66.13,74.08,25665,23446,21484,19725,18118,16647,15190
3,Shanxi,25.50,27.85,28.77,30.01,34.68,35.07,38.40,23828,21990,20420,19049,17854,16538,15120
4,Inner Mongolia,16.18,17.69,18.70,19.84,21.79,21.68,22.16,30555,28376,26212,24127,22310,20559,18693

In [45]:
#Get overlapping columns/years between two datasets
income_divorce_cols = [x for x in divorces_df.columns if x in disposableincome_df.columns]
income_divorce_cols

['Region', '2019', '2018', '2017', '2016', '2015', '2014', '2013']

In [46]:
#Merge data from two datasets on overlapping columns/years only
income_divorce = divorces_df[income_divorce_cols].merge(disposableincome_df[income_divorce_cols], 
                                                           on='Region', suffixes=('_divorce', '_income'))
income_divorce.head()

,Region,2019_divorce,2018_divorce,2017_divorce,2016_divorce,2015_divorce,2014_divorce,2013_divorce,2019_income,2018_income,2017_income,2016_income,2015_income,2014_income,2013_income
0,Beijing,8.38,7.41,8.06,10.58,8.22,6.56,6.46,67756,62361,57230,52530,48458,44489,40830
1,Tianjin,7.47,6.41,5.89,6.52,5.19,4.45,4.53,42404,39506,37022,34074,31291,28832,26359
2,Hebei,25.57,23.45,23.24,22.02,19.90,18.57,17.88,25665,23446,21484,19725,18118,16647,15190
3,Shanxi,9.12,8.75,8.22,7.65,7.22,6.56,6.10,23828,21990,20420,19049,17854,16538,15120
4,Inner Mongolia,9.98,9.88,10.09,9.84,9.19,8.84,8.07,30555,28376,26212,24127,22310,20559,18693